# Procesamiento de datos y matemáticas | Data Processing and Mathematics
pandas
numpy

# Deep Learning 
tensorflow

# Machine Learning
scikit-learn

# Persistencia del escalador | Scaler Persistence (MinMaxScaler)
joblib

# UX/UI 
streamlit
pydeck
matplotlib